.App {
    text-align: center;
}

.modal {
    background-color: rgb(174, 111, 247);
    width: 40%;
    padding: 25px;
    position: absolute;
    top: 2%;
    left: 30%;
    text-align: center;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    outline: none;
    box-sizing: border-box;
}

.modal input {
    display: block;
    margin: 0 auto;
    font-size: 25px;
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.modal label {
    display: block;
    margin-bottom: 10px;
    font-size: 25px;
}

.modal button {
    border: none;
    background-color: rgb(196, 45, 45);
    margin-right: 25px;
    padding: 15px;
    color: blanchedalmond;
    font-size: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.add {
    font-size: 35px;
    outline: none;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 5px 20px;
    background-color: goldenrod;
}